mixin feature(image,title,color)
  .col-md-4
    .feature
      .feature-img
        i.fa(class=image style=`color: ${color};`)
      h3.feature-title= title

mixin newsItem(image,title,text)
  .col-md-3
    .new-item
      .new-item__image-container
        img.new-item__image(src=image, alt="")
      .new-item__data
        h3.new-item__data-title= title
        p.new-item__data-text= text

mixin socialItem(url,image,name)
  .social-item
    a(href=url target='_blank').social-link
      span.social-icon: i.fa(class=image)
      =name

mixin blockQuote(quote)
  .container.text-center.d-flex.justify-content-center.py-5.blockquote
    h2.h3.col-lg-8= quote
